<!DOCTYPE html>
<html>

<head>
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../dist/style.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
    <div class="container">
        <div class="item">
            <div class="play"> </div>
            <div class="song-title"> </div>
            <div class="play-time"> </div>
            <div class="icons">
                <span class="cloud"> <i class="material-icons md-48">cloud</i></span>
                <span class="buy"> BUY </span>
                <span class- "play-number"> <i class="material-icons md-48 smaller">play_circle_outline</i> </span>
                <span class="likes"> <i class="material-icons md-48">favorite</i></span>
            </div>
        </div>
    </div>
</body>

</html>